/* CSS Style Sheet*/

*{margin:0; padding:0;}
ul,li{list-style:none;}

#wrap {
    width:100%;
}

a{
    text-decoration:none;
    color:#333;
}

a:hover{
    text-decoration:underline;
}

#header{
    width:1000px;
    margin:0 auto;
    height:102px;
}

.logo{
    display:inline-block;
    margin-top:20px;
}

.gnb{
    float:right;
}

.gnb > ul > li{
    float:left;
    display:inline-block;
    padding:40px 0;
    width:120px;
}

.gnb > ul > li > a{
    font-size:19px;
    color:#004385;
    font-weight:bold;
}

#container{
    width:1000px;
    margin:0 auto;
}

#footer{
    width:1000px;
    margin:0 auto;
    background:yellow;
}





